
#header {
    width: 100%;
    height: 100px;
    background-color: azure;
    text-align: center;
    padding-top: 10px;
}

#header h1 {
    color: darkgray;
    text-shadow: 0 0 5px #cd0000;
}

#wrapper {
    width: 100%;
    border: groove;
    border-color: #cd0000;
    height: 170px;

}
#menu{
    width: 150px;
    height: 170px;
    border-right: groove;
    border-color: #cd0000;
    float: left;
}
#matrix{
    margin-left: 155px;
}
div#matrix table{
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    float: left;

}
th{
    font-size: large;
    color: azure;
}
div#btn{
    width: 120px;
    height: 20px;
    float: left;
    padding-top: 75px;
}
table td button{
    width: 30px;
    height: 30px;
    text-align: center;
}